<div class="container">
  <form method='get' action='/create_post'>
    Title: <Input type='word' name='title' placeholder='Title'><br>
    Description: <Input type='word' name='description' placeholder='Description'><br>
    Email: <Input type='word' name='email' placeholder='Email'><br>
    Price: <Input type='word' name='price' placeholder='Price'><br>

    <button>Submit Post</button>
    <br>
  </form>
</div>
 
